@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #080808;
  color: #fff;
  position: relative;

 
}

#header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/backport.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
 

}

.container {
  padding: 5px 10%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
  
 
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;

}
nav ul li a:hover
{
  color: #ff004f;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 15%;
  font-size: 30px;
  position: absolute;
  z-index: 0;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #ff004f;
  width: 22vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
  margin-left: 720px;
}


@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
   /*38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(120deg); }*/
  /*40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(120deg); }*/
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(20deg); }
  100% { transform: scale(1)   translate(10px, 30px); }
}

.header-text h1 {
  margin-top: 10px;
  font-size: 70px;
  font-weight: 900;
  line-height: 88%;
  width: 500px;
}

.header-text h1 span {
  color: #ff004f;
}

.quote {
  font-size: 1rem;
  padding: 5px 0;
}

.quote span {
  color: #ff004f;
}

/*------------About me Section-------------*/

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10%;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.subtitle {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transform: 0.5s;
}

.tab-links.active-link::after {
  width: 70%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 0.875rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*Services Section*/

#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 50px;
  font-size: 0.8rem;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 3opx;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/*----Portifolio Section------*/

.work img {
  width: 350px;
  height: 390px;
  border-radius: 15px;
  display: block;
  transform: transform 0.5s;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 50px;
  font-size: 0.8rem;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.layer {
  width: 100%;
  /*height: 100%;----to manupuate it down)*/
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  font-size: 0.8rem;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  line-height: 60px;
  font-size: 1.2rem;
  text-align: center;
}

.work:hover img {
  transform: scale(1.2);
}

.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #d1a2b1;
  border-radius: 6px;
  padding: 14px 50px;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background: #ff004f;
}


.btnLiveDemo {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #d1a2b1;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    color: #080808;
  }
  .btnLiveDemo:hover {
    background: #ff004f;
  }
  
/*---------Contact Form------------------------------*/

#contact .row {
  display: flex;
}

.contact-colleft {
  flex-basis: 40%;
}

.contact-colright {
  flex-basis: 55%;
}
.contact-colleft p {
  margin-top: 30px;
}
.contact-colleft p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 1.5rem;
}

.social-icon {
  margin-top: 30px;
}

.social-icon a {
  text-decoration: none;
  font-size: 40px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
}
.social-icon a:hover {
  color: #ff004f;
  transform: translateY(-50%);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contact-colright form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  margin: 15px 0;
  background: #262626;
  color: #fff;
  font-size: 1.125rem;
  border-radius: 6px;
  padding: 15px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 1.125rem;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  background: #262626;
  padding: 25px 0;
  margin-top: 20px;
}

nav .fas,
nav .fab {
  display: none;
}

.topOfPage {
  text-align: center;
  font-size: 18px;
}

.topOfPage a {
  color: #fff;
  text-decoration: none;
}

#msg {
  color: #ff004f;
  display: block;
  margin-top: -40px;
}

/*Responsiveness*/

@media only screen and (max-width: 600px) {
  #header {
    background: #2a2a2a;
    background-repeat: no-repeat;
  }
  .header-text {
    margin-top: 70%;
    font-size: 1.1rem;
   
    
  }

  .header-text h1 {
    font-size: 30px;
    width: 250px;
  }

  nav .fas,
  nav .fab {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 100;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas,
  nav ul .fab {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .subtitle {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .services-list,
  .work-list {
    display: flex;
    flex-direction: column;
  }

  .contact-colleft,
  .contact-colright {
    flex-basis: 100%;
  }
  .topOfPage {
    background: none;
  }

  .social-icon a {
    font-size: 25px;
  }

  .btnCVMobile {
    margin-left: 40px;
  }

  form .btn2 {
    padding: 14px 60px;
    font-size: 1.125rem;
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
  }

  .blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #ff004f;
    width: 22vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    margin-left: 20px;
    margin-bottom: 700px;
  }
  
  
  @keyframes move {
    0%   { transform: scale(1)   translate(10px, -10px); }
    78%  { transform: scale(1.3) translate(0vw, -30vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 0vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, 30px); }
  }


  

}
